<form [formGroup]="form" #ngForm="ngForm" (ngSubmit)="handleSubmit()" >

  <ng-content select="[top]"></ng-content>
  <br>

  Name: <input formControlName="name" />
  <br>
  Email: <input formControlName="email" />

  <div formGroupName="address">
    Address: <br>

    Street: <input formControlName="street" />
    <br>
    City: <input formControlName="city" />

  </div>

  <p *ngIf="form.get('email')?.hasError('email')">
    Format maila jest niepoprawny
  </p>

  <br>
  <ng-content></ng-content>
  <button type="submit" [disabled]="form.invalid">{{label}}</button>


  <ng-content select="[bottom]"></ng-content>

</form>

<pre>

valid: {{form.valid}}
touched: {{form.touched}}
dirty: {{form.dirty}}
submitted: {{ngForm.submitted}}

{{form.value | json}}

</pre>
