<h1>Login</h1>

<app-login-form  [message]="message()"  (loginSuccess)="handleSuccess($event)">

    <div class="flex gap-4">
        <a>Forgot password</a>
        <a>Regulations</a>
    </div>

    <div class="flex gap-4" top>
        <a>Are you a Business ? Ask question!</a>
    </div>

    <div class="flex gap-4" top>
        <a>Help ??</a>
    </div>

</app-login-form>

<ng-template #forMenu>
    <a>Menu elmement</a>
</ng-template>

<h1 (click)="flag = !flag">template outlet</h1>

<ng-container *ngTemplateOutlet="flag ? tpl : tpl2"></ng-container>
<ng-container *ngTemplateOutlet="tpl2"></ng-container>
<ng-container *ngTemplateOutlet="tpl"></ng-container>

<ng-template #tpl>
    <p>testks --- tekst</p>
</ng-template>

<ng-template #tpl2>
    <p>2222 ----- -22222</p>
</ng-template>
