<ng-container *ngIf="user$ | async as user; else templateName">
  <app-user-details [user]="user" *ngIf="!isEdit">
    <button mat-button (click)="isEdit = true">EDIT</button>
    <button mat-button topMenu>share</button>
  </app-user-details>

  <app-user-form
    [user]="user"
    (saved)="onFormSave($event)"
    (cancelled)="isEdit = false"
    *ngIf="isEdit"
  ></app-user-form>
</ng-container>

<ng-template #templateName>
  <div *ngIf="error; else loadingTpl">
    <b>Error:</b> {{ error.error.message }}
  </div>

  <ng-template #loadingTpl>
    <p>Loading user</p>
  </ng-template>
</ng-template>
