<div class="container mx-auto">
  <div class="flex bg-slate-200 gap-4 p-4 md:bg-slate-300">
    <span>app</span>
    <a routerLink="/">Home</a>
    <a routerLink="pets">Pets</a>

    <a routerLink="contacts">Contacts</a>

    <a routerLink="store" *libHasRole="'test@myflow.pl'" >Store</a>

    <span class="flex-auto"></span>
    @if (profileStore.user()) {
    <span>Witaj {{ profileStore.user()?.name }}</span>
    <a (click)="profileStore.logout()">Logout</a>
    } @else {
    <a routerLink="login">Login</a>
    }
  </div>
  <router-outlet />
</div>
