<div class="container mx-auto">

  <div class="flex gap-4 p-4 bg-slate-200">

    <span class="font-bold">Web Project</span>

    <a [routerLink]="['/']">Home</a>
    
    <a [routerLink]="['/pet']">Pet</a>

    <a [routerLink]="['/artists']" *hasRole="'admin'">Contacts</a>

    <a [routerLink]="['/artists']">Artists</a>

    <span class="flex-auto"></span>

    @if(profileStore.user(); as user) {
      <span (click)="loginDialog.open()">{{user.email}}</span>
      <button (click)="profileStore.logout()">logout</button>
    }
    @else {
      <a  [routerLink]="['/login']">Login</a>
    }
  </div>

  <div class="py-4 px-4 sm:px-0">
    <router-outlet />
  </div>
</div>
