<div class="mx-auto max-w-sm">
    <h1 class="font-bold">Register</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-2">

        <label>Email</label>
        <input type="email" formControlName="email"/>
        <p class="form-error" *ngIf="form.controls.email.hasError('required') && form.controls.email.touched">Pole wymagane</p>
        <p class="form-error" *ngIf="form.controls.email.hasError('email') && form.controls.email.touched">Nie poprawny email</p>
        
        <label>Password</label>
        <input type="password"  formControlName="password"/>
        <p class="form-error" *ngIf="form.controls.password.hasError('required') && form.controls.password.touched">Pole wymagane</p>
        <p class="form-error" *ngIf="form.controls.password.hasError('minlength') && form.controls.password.touched">Minimalna długość to 3 znaki</p>

        <button type="submit" [disabled]="form.invalid">Register</button>
    </form>
<pre>
valid: {{form.valid | json}}

errors
{{form.controls.email.errors | json}}
{{form.controls.password.errors | json}}

value
{{form.value | json}}
</pre>
</div>
