<h3>
  Edit User
</h3>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email" >
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="password" >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name" >
  </mat-form-field>

  <button type="button" (click)="cancelled.emit()" mat-button>cancel</button>
  <button type="submit" mat-button>SAVE</button>
</form>
