<h1>
    Artists
</h1>
<div class="flex gap-4">
    <nav class="flex flex-col gap-2 w-48 border-r-2 pr-4">

        <form (submit)="handleSubmit($event, searchInput.value)">
            <input #searchInput type="search" />
        </form>

        @if (artists.isLoading()) {
            <span>Loading...</span>
        }
        @else {
            @if (artists.error()) {
                <span>ERROR...</span>
            }
            @for (artist of artists.value()?.artists; track $index) {
                <a [routerLink]="[artist.id]">{{artist.name}}</a>
            }
            @empty {
                <span>Artists not found</span>
            }
        }
    </nav>
    <main class="flex-auto">
        <router-outlet />
    </main>
</div>
