<div class="bg-gray-300 drop-shadow-md">

    <div class="page-container flex gap-4">
        <span>Web Project</span>

        <a [routerLink]="['/']" routerLinkActive="font-bold" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a routerLink="/contact" routerLinkActive="font-bold" [routerLinkActiveOptions]="{exact: true}" appHighlite>Contact</a>
        <a routerLink="/contact/admin" routerLinkActive="font-bold" appHighlite *appHasRole="'admin'" >Admin</a>
        <a routerLink="/contact/admin" routerLinkActive="font-bold" appHighlite *appHasRole="'root'" >Root</a>
        
        <span class="flex-auto"></span>
        
        @if (auth.user(); as user) {
            <img [src]="auth.user() | userPhoto:'jpg':'large'" class="rounded-full h-6">
            <span>{{ user?.email }}</span>
            <span (click)="auth.logout()">Logout</span>
        }
        @else {
            <a routerLink="/login" routerLinkActive="font-bold">Login</a>
            <a routerLink="/register" routerLinkActive="font-bold">Register</a>
        }
    </div>
</div>


