<div
  class="navbar-container"
>
  <button routerLink="/home">Home</button>
  <button routerLink="/todos">Todos</button>

  <a routerLink="/not-exists">404</a>

  <a routerLink="/pets">Pets</a>

  <ng-container *ngIf="authService.user$ | async as user; else elseTemplate">
    <span>{{user.username}}</span>
    <a (click)="authService.logout()">Logout</a>
  </ng-container>
  <ng-template #elseTemplate>

    <a (click)="authService.login({username: 'test', password: 'test'})">Login</a>
    <!-- <a routerLink="/login">Login</a> -->
    <a routerLink="/register">Register</a>
  </ng-template>



</div>
