
    <h2 class="font-bold mb-4">
        Login
    </h2>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    
        <label>Email</label>
    
        <input type="email" formControlName="email" />
    
        <label>Password</label>
    
        <input type="password" formControlName="password" />

        <div *ngIf="store.error" class="text-red-400 py-4">
            {{ store.error.error}}
        </div>
    
        <button type="submit" [disabled]="form.invalid || store.loading" >Login</button>
    
    </form>