<h1 class="text-3xl font-bold">Songsy by: {{ artist()?.name}}</h1>

<mat-paginator  class="my-2" [storePaginator]="songsStore"></mat-paginator>
    
 @if (songsStore.loader()) {
    Loading songs...
}
@else if (songsStore.loader.error()) {
    ERROR
}
@else {

    @for (song of songsStore.songs(); track $index) {
        <div>
            <h2>{{song.title}}</h2>
        </div>
    }
}



    <!-- [pageSize]="songsStore.pageSize()" 
    [pageIndex]="songsStore.pageIndex()" 
    [length]="songsStore.length()"
    (page)="handlePage($event)" -->
