<h1>Songs (found {{ store.length() }})</h1>
<p>artistId: {{ store.artistId() }}</p>

@if (store.loader()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
@else {
    @if (store.loader.error(); as error) {
        <div>ERROR: {{ error.message }}</div>
    }
    @for (song of store.songs(); track $index) {
        <div>{{ song.title }}</div>
    }
    @empty {
        <div>No songs found</div>
    }
}

<mat-paginator 
    class="mt-4"
    [length]="store.length()"
    [pageSize]="store.pageSize()"
    [pageIndex]="store.pageIndex()"
    [pageSizeOptions]="[2, 5, 10, 25, 100]"
    (page)="store.setPageIndex($event)"
    aria-label="Select page">
</mat-paginator>
