<h1 class="font-bold text-xl" [innerHTML]="title"></h1>


<div class="flex py-4">

    <div class="w-52">
        <h3>all contacts</h3>



        @for (contact of contacts(); track contact) {
            <div>
                <a [routerLink]="['.']" [queryParams]="{ id: contact.id }" >{{contact.name}}</a>
            </div>
            <hr>
        }

        <!-- <ng-container *ngFor="let contact of contacts" > </ng-container> -->
    </div>

    <div class="flex-auto">
        <h3>selected contact</h3>

        @if (selectedContact()) {
            <pre>{{ selectedContact() | json }}</pre>
        } 
        @else {
            <p>Zaznacz rekord by zobaczyć szczegóły</p>
        }

<!--         
        <ng-container *ngIf="selectedContact; else noSelectionTpl">
    
            <pre>{{ selectedContact | json }}</pre>

        </ng-container>


        <ng-template #noSelectionTpl>
            <p>Zaznacz rekord by zobaczyć szczegóły</p>
        </ng-template> -->
    </div>
</div>
