<p class="font-bold">
    Contacts ({{ length() }})
    @if (loader()) {
        <span>Loading...</span>
    }
    @else {
        <button (click)="reload$.next(true)">reload</button>
    }
</p>

<div class="flex gap-4 py-4">
    <button (click)="handlePrevPage()">Prev</button>
    <span>{{params()._page}}</span>
    <button (click)="handleNextPage()">Next</button>
</div>

@if (loader.error(); as error) {
    <div class="text-red-400">ERROR: {{ error.message }}</div>
}

@for (contact of contacts(); track $index) {
    <div>
        {{contact.name}}
    </div>
}