<nav>
  <h2>Mange Users</h2>

  <button [innerText]="buttonText" (click)="onNewClick($event)" >NEW</button>

  <!-- <input [value]="buttonText" (keypress)="buttonText = $event.target.value"  /> -->
  <!-- <input [(ngModel)]="buttonText" /> -->
  <!-- <input [ngModel]="buttonText" (ngModelChange)="buttonText = $event" /> -->

  <ng-container *ngIf="users$ | async as users; else noUserTpl">
    <ul>
      <li *ngFor="let user of users">
        <a  [routerLink]="['details', user.id]">{{user.name}}</a>
      </li>
      <li>
        <a  [routerLink]="['details', 404]">404</a>
      </li>
    </ul>
  </ng-container>

  <ng-template #noUserTpl>
    <p>Loading...</p>
  </ng-template>

</nav>
<main>
  <router-outlet></router-outlet>
</main>
