
<div *ngIf="contact$ | async as contact; else loadingContact">

  <ng-container *ngIf="isEdit$ | async; else elseTemplate">

    <h2>Edit Contact</h2>

    <app-contact-form label="Edit" [contact]="contact" (edited)="handleEditSubmit($event)"></app-contact-form>

    <button (click)="handleEditCancel()">Cancel</button>

  </ng-container>
  <ng-template #elseTemplate>

    <h2>Contact Details</h2>
    <app-contact-details [contact]="contact" (edit)="handleEdit($event)"></app-contact-details>

  </ng-template>

</div>

<ng-template #loadingContact>
  Loading...
</ng-template>

<pre *ngIf="error">{{error | json }}</pre>
