<ng-container *ngIf="user">

  <mat-icon (click)="handleClose($event, user)">close</mat-icon>

  <h3>{{user.name}}</h3>

  <!-- <img [src]="user | userPhoto" /> -->
  <img [src]="user | userPhoto:'thumb'" />

  <ul>
    <li> id: {{user.id}}  </li>
    <li> email: {{user.email}}  </li>
    <li> role: {{user.role || 'guest'}}  </li>
  </ul>

  <div class="buttons">
    <ng-content></ng-content>
  </div>

  <div class="toolbar">
    <ng-content select="[toolbar]"></ng-content>
  </div>

</ng-container>
