<h1 class="font-bold text-xl">Contact Admin</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-2">

    <label>Szukaj</label>
    <input type="text" formControlName="q" />

    <label>Page</label>
    <input type="number" formControlName="_page" />

    <label>Size</label>
    <input type="number" formControlName="_limit" />

    <button type="submit" [disabled]="store.loading()" class="disabled:text-gray-300">{{ store.loadLabel() }}</button>
</form>

@if (store.error()) {
    <p class="py-3 text-red-400">{{store.error().message}}</p>
}

<div class="flex py-4 gap-4 flex-col">

    <pre>{{ store.contacts() | json}}</pre>

</div>