<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="username" >
    <mat-error *ngIf="loginForm.get('username').getError('required')">
      Email jest wymagany
    </mat-error>
    <mat-error *ngIf="loginForm.get('username').getError('email')">
      Wprowadź poprawny adres email
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="password" >
  </mat-form-field>

  <mat-error mat-button *ngIf="error">Error: {{error.error}}</mat-error>

  <button type="button" mat-button (click)="loginCancel.emit()" >cancel</button>
  <button type="submit" color="primary" mat-button [disabled]="loginForm.invalid || loader.active" >Login</button>
  <span mat-button *ngIf="loader.active">Working...</span>

</form>
