<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Login</h2>
  <div mat-dialog-content>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email"  />

      <mat-error *ngIf="form.get('email')?.hasError('email')">Email is incorrect</mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('required')">Email is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password"  />
      <mat-error *ngIf="form.get('password')?.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="form.get('password')?.hasError('minLength')">Min 4 chars required</mat-error>
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close type="button">cancel</button>
    <div class="spacer"></div>
    <button mat-raised-button type="submit" [disabled]="form.invalid || loading$.active" >Login</button>
  </div>
</form>
