<h1>Artists</h1>

<p>
  Hello to artists list
</p>

<p *ngIf="profile$ | async as profile">Hello {{profile.name}}</p>

<div class="flex">
  <nav class="overflow-auto h-96">
    <div *ngIf="artistsFacade.loading$ | async">Loading...</div>

    <app-artist
    (artistDelete)="handleDelete($event)"
    [artist]="artist"
    *ngFor="let artist of artistsFacade.artists$ | async">

    <button top class="btn-outline" (click)="handleDelete(artist)">X</button>

    <button class="btn-outline" (click)="handleSubscribe(artist)">Subscribe</button>

    </app-artist>

  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
