/* You can add global styles to this file, and also import other style files */

.panel {
  border: 1px solid red;
  a {
    color: red;
  }
  span {
    color: red;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
