<div class="home-page">

  <div
    class="home-page-title"
  >
    Home Page
  </div>

  <div>
    <button (click)="changeSection('cats')">Cats</button>
    <button (click)="changeSection('dogs')">Dogs</button>
    <button (click)="changeSection('bats')">Bats</button>
    <button (click)="changeSection('rabbits')">Rabbits</button>
  </div>

  <div ngSwitch="{{section}}">
    <ng-template ngSwitchCase="cats">
      <app-cat-section></app-cat-section>
    </ng-template>

    <ng-template ngSwitchCase="dogs">
      <app-dog-section></app-dog-section>
    </ng-template>

    <ng-template ngSwitchCase="bats">
      <app-bat-section></app-bat-section>
    </ng-template>

    <ng-template ngSwitchDefault>
      <div
        class="section-default"
      >
        No pictures ):
      </div>
    </ng-template>
  </div>
</div>
