<h2>{{ title | uppercase }}</h2>
<h3>{{ today | date:'mm:ss' }} </h3>

<button (click)="onToggleClick($event)">Toggle</button>

<p *ngIf="counter < 10" [class.warn]="counter > 5">
    Hej hej: {{counter}}
</p>

<h3>Items</h3>


<ng-container *ngFor="let item of items">

    <app-item [item]="item" (saveSuccess)="onItemClick($event)">

        <button (click)="onItemDelete(item)" class="border p-2">Delete</button>

        <span tools (click)="onItemDelete(item)" class="">❤️</span>

    </app-item>

</ng-container>
