<h2>{{ title | uppercase }}</h2>
<h3>{{ today | date:'mm:ss' }} </h3>

<button (click)="onToggleClick($event)">Toggle</button>

<p *ngIf="counter < 10" [class.warn]="counter > 5">
    Hej hej: {{counter}}
</p>

<h3 class="my-4 font-bold">Items</h3>


<ng-container *ngFor="let item of items">

    <app-item [item]="item" (saveSuccess)="onItemClick($event)">

        <button (click)="onItemDelete(item)" class="border p-2">Delete</button>

        <span tools (click)="onItemSelect(item)">❤️</span>

    </app-item>

</ng-container>

<ng-container *ngIf="selected$ | async as selected">

    <h3 class="my-4 font-bold">Selected Item</h3>
    
    <app-item [item]="selected">

        <button (click)="closeSelected()" class="border p-2">close</button>

    </app-item>

</ng-container>
