<select (change)="handleStatusChange($event.target)">
  <option *ngFor="let option of store.statusOptions" [value]="option.value">{{option.label}}</option>
</select>

<h2>Search for {{ store.status$ | async}} pets</h2>

<div *ngIf="store.activePet$ | async as pet">
  <p><b>Active Pet:</b> {{pet.name}}</p>
  <button (click)="store.selectPet()">close</button>
  <button (click)="store.loadActivePet()">reload</button>
</div>
<div *ngIf="store.activePetLoading.active">Loading active pet...</div>
<div *ngIf="store.activePetLoading.error as error">{{error | json}}</div>

<div *ngFor="let pet of store.pets$ | async">
  <p (click)="store.selectPet(pet)">{{pet.name}}</p>
</div>

<pre>{{store.state$ | async | json}}</pre>
